# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Database (Neon)
DATABASE_URL=

# Google AI (Gemini)
GOOGLE_AI_API_KEY=

# Google Cloud Speech-to-Text
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_STT_API_KEY=
